/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * gravesend-sans:
 *   - http://typekit.com/eulas/00000000000000007735cbb0
 *   - http://typekit.com/eulas/00000000000000007735cbb1
 *   - http://typekit.com/eulas/00000000000000007735cbb2
 *   - http://typekit.com/eulas/00000000000000007735cbb6
 * usual:
 *   - http://typekit.com/eulas/00000000000000007735a69c
 *   - http://typekit.com/eulas/00000000000000007735a69f
 *   - http://typekit.com/eulas/00000000000000007735a6b2
 *   - http://typekit.com/eulas/00000000000000007735a6b4
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-09-08 06:05:31 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=wor7zqj&ht=tk&f=25629.25634.25637.25638.43399.43400.43401.43404&a=19804002&app=typekit&e=css");

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/ed550a/00000000000000007735a69c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ed550a/00000000000000007735a69c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ed550a/00000000000000007735a69c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/d09de2/00000000000000007735a69f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/d09de2/00000000000000007735a69f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/d09de2/00000000000000007735a69f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/e39010/00000000000000007735a6b2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/e39010/00000000000000007735a6b2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/e39010/00000000000000007735a6b2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/a851eb/00000000000000007735a6b4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/a851eb/00000000000000007735a6b4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/a851eb/00000000000000007735a6b4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"gravesend-sans";
src:url("https://use.typekit.net/af/b880b0/00000000000000007735cbb0/30/l?subset_id=2&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/b880b0/00000000000000007735cbb0/30/d?subset_id=2&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/b880b0/00000000000000007735cbb0/30/a?subset_id=2&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"gravesend-sans";
src:url("https://use.typekit.net/af/bc003c/00000000000000007735cbb1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/bc003c/00000000000000007735cbb1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/bc003c/00000000000000007735cbb1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"gravesend-sans";
src:url("https://use.typekit.net/af/b8ed3b/00000000000000007735cbb2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/b8ed3b/00000000000000007735cbb2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/b8ed3b/00000000000000007735cbb2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"gravesend-sans";
src:url("https://use.typekit.net/af/b7ba5f/00000000000000007735cbb6/30/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/b7ba5f/00000000000000007735cbb6/30/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/b7ba5f/00000000000000007735cbb6/30/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

.tk-usual { font-family: "usual",sans-serif; }
.tk-gravesend-sans { font-family: "gravesend-sans",sans-serif; }
